@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 25l5;
  --main: 206, 250, 5;
}

/*
.clipdown {
  clip-path: polygon(0 0, 100% 0%, 100% 81%, 0% 100%);
}
.clipup {
  clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
}
.upclip {
  clip-path: polygon(0 19%, 100% 0, 100% 100%, 0% 100%);
}
.updown {
  clip-path: polygon(0 5%, 100% 0, 100% 81%, 0% 100%);
}*/
.whyclipimage {
  clip-path: polygon(25% 0, 100% 0, 100% 87%, 75% 100%, 0 100%, 0 14%);
}
.section-divider {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
.stroketext {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #cefa05;
  font-size: 170px;
  font-weight: 400;
  line-height: normal;
  color: transparent;
}
.stroketext2 {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  line-height: normal;
  color: transparent;
}
.menustroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: transparent;
}
/*.menustroke.active {
}*/
.gradient1 {
  background: linear-gradient(
    72deg,
    #cefa05 18.23%,
    rgba(206, 250, 5, 0.81) 100.16%
  );
}
.gradient2 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.41) 21.11%,
    #fff 116.34%
  );
}
.gradient3 {
  background: linear-gradient(
    82deg,
    rgba(206, 250, 5, 0.97) 1.83%,
    rgba(206, 250, 5, 0.92) 93.13%
  );
}

.gradient4{
  background: linear-gradient(69deg, #000 56.09%, rgba(0, 0, 0, 0.51) 102.91%);
}

.gradient5{
  background: linear-gradient(260deg, rgba(0, 0, 0, 0.85) 5.7%, rgba(0, 0, 0, 0.79) 92.5%, rgba(0, 0, 0, 0.94) 92.5%);
}